#contact {
	padding-top: 75px;
	padding-bottom: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#getInTouch {
	font-size: 75px;
	margin-bottom: 30px;
	text-align: center;
}

.formDiv {
	margin-bottom: 15px;
	margin-top: 15px;
}

.form {
	border-radius: 10px;
	font-size: 20px;
	width: 100%;
	padding-left: 25px;
	padding-right: 25px;
}

.form:focus {
	outline: 0px;
	-webkit-box-shadow: 0px 0px 30px 2px #F50057);
	-moz-box-shadow: 0px 0px 30px 2px #F50057;
	box-shadow: 0px 0px 30px 2px #F50057;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

input {
	height: 50px;
}

textarea {
	padding-top: 10px;
	height: 200px;
}

#sendBtn {
	background-color: transparent;
	border-radius: 10px;
	color: #F50057;
	height: auto;
	width: auto;
	padding: 20px 20px 20px 20px;
	font-size: 20px;
	border-width: 2px; 
	border-style: solid;
	border-color: #F50057;
	transition: all 0.5s;
}

#sendBtn:hover {
	background-color: rgb(245, 0, 87, 0.75);
	color: white;
}

#sendBtn:focus {
	outline: 0px;
}

#footer {
	height: 75px;
	background-color: #1A1B1E;
}
.footerIcon {
	font-size: 20px !important;
	margin-right: 8px;
	margin-bottom: 2px;
}
.footerText {
	font-size: 16px;
}