html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	background-color: #212226 !important;
}

p {
	font-size: 20px;
}

.red {
	color: #F50057;
}

.pink {
	color: #FF80AB;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	height: 100%;
	border-bottom: solid;
	border-width: 1px;
	border-color: #F50057;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: : center;
}

#socials {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-top: 20px;
}

.navbar {
	height: 75px;
	padding-left: 50px !important;
	padding-right: 50px !important;
	background-color: transparent;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
	transition: top 0.5s; /* Transition effect when sliding down (and up) */
}

.navbar-nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
}

.navbar-brand {
	color: #F50057;
	font-size: 24px !important;
}

.navbar-brand:hover {
	color: #F50057;
}

.nav-item {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navbarNum {
	font-size: 16px;
	margin-top: 2px;
}

.nav-link {
	font-size: 20px;
	color: white;
	margin-right: 30px;
}

.nav-link:hover {
	color: #F50057;
}

.sectionHeader {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 30px;
}

.sectionNum {
	font-size: 30px;
	margin-right: 20px;
	padding-bottom: 7px;
}

#main {
	color: white;
}

/* Welcome Section*/
#welcome {
	display: flex;
	align-items: center;
	height: 1000px;
}

#welcomeInfo {
	padding-bottom: 200px;
	display: flex;
	flex-direction: column;
}

#hello {
	margin-bottom: 0px;
}

#welcomeName {
	font-size: 75px;
}

.welcomeIcon {
	color: white;
	font-size: 30px !important;
	text-decoration: none !important;
	margin-right: 30px;
}

.welcomeIcon:hover {
	color: #F50057;
}

#about {
	
}

/* Contact Section*/
#contact {
	height: 862px;
}

#contactContainer {
	border-width: 0px;
}

#getInTouch {
	margin-top: -30px;
	font-size: 75px;
	margin-bottom: 30px;
}

.formDiv {
	margin-bottom: 15px;
	margin-top: 15px;
}

.form {
	border-radius: 10px;
	font-size: 20px;
	width: 100%;
	padding-left: 25px;
	padding-right: 25px;
}

.form:focus {
	outline: 0px;
	-webkit-box-shadow: 0px 0px 30px 2px #F50057);
	-moz-box-shadow: 0px 0px 30px 2px #F50057;
	box-shadow: 0px 0px 30px 2px #F50057;
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}

input {
	height: 50px;
}

textarea {
	padding-top: 10px;
	height: 200px;
}

#sendBtn {
	background-color: transparent;
	border-radius: 10px;
	color: #F50057;
	height: 70px;
	width: 160px;
	font-size: 20px;
	border-width: 2px; 
	border-style: solid;
	border-color: #F50057;
}

#sendBtn:hover {
	background-color: #F50057;
	color: #212226;
	-webkit-transition: background-color 0.25s ease-out;
	-moz-transition: background-color 0.25s ease-out;
	-o-transition: background-color 0.25s ease-out;
	transition: background-color 0.25s ease-out;
}

#sendBtn:focus {
	outline: 0px;
}


#footer {
	height: 75px;
	background-color: #1A1B1E;
}
.footerIcon {
	font-size: 20px !important;
	margin-right: 8px;
	margin-bottom: 2px;
}
.footerText {
	font-size: 18px;
}