html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	background-color: #212226 !important;
	color: white !important;
}

p {
	font-size: 20px;
}

.red {
	color: #F50057;
}

.grey {
	color: #CDCDCD;
}

.container {
	padding-right: 30px !important;
	padding-left: 30px !important;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.redBorder {
	border-top: solid;
	border-width: 1px;
	border-color: #F50057;
}

.navbar {
	height: 75px;
	padding-left: 50px !important;
	padding-right: 50px !important;
	background-color: #212226;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
	transition: top 0.5s; /* Transition effect when sliding down (and up) */
}

.navbar-nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
}

.navbar-brand {
	color: #F50057;
	font-size: 24px !important;
}

.navbar-brand:hover {
	color: #F50057;
}

.nav-item {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navbarNum {
	font-size: 16px;
	margin-top: 2px;
}

.nav-link {
	font-size: 20px;
	color: white;
	margin-right: 30px;
}

.nav-link:hover {
	color: #F50057;
}

#logo {
	width: 55px;
	height: 55px;
}

#toggleIcon {
	color: #F50057;
	font-size: 30px;
}

.navbar-toggler:focus {
	outline: none;
	border: 1px solid #F50057 !important;
}

.sectionHeader {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.sectionNum {
	font-size: 30px;
	margin-right: 20px;
	padding-bottom: 7px;
}

.row {
	width: 100%;
}
