#welcome {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 250px;
	padding-bottom: 200px;
}

#welcomeInfo {
	padding-bottom: 150px;
	display: flex;
	flex-direction: column;
}

#hello {
	margin-bottom: 0px;
}

#welcomeName {
	font-size: 75px;
}

#socials {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-top: 20px;
}

.socialIcon {
	text-decoration: none !important;
	margin-right: 30px;
	transition: all 0.35s;
}

.socialIcon:hover {
	transform: scale(1.2, 1.2);
	color: #F50057;
}

#arrowContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all 0.5s;
}

#arrowContainer:hover {
	transform: translateY(20px);
}

.arrow {
	height: 80px;
	width: 80px;
	border: solid;
	border-color: #F50057;
	border-width: 2px;
	border-top: none;
	border-left: none;
	transform: rotate(45deg);
}

#bottomArrow {
	height: 100px;
	width: 100px;
	margin-top: -85px;
}
